<%= form_with(model: [:admin, route], local: true) do |form| %>
  <%= render 'common/errors', resource: route %>

  <div class="field">
    <%= form.label :railway_stations %>
    <%= form.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {}, { multiple: true, class: 'form-control' } %>
  </div>

  <div class="actions">
    <%= form.submit "#{ route.new_record?  ? t('.submit.create') : t('.submit.update') }", class: 'btn btn-primary' %>
  </div>
<% end %>
