<p id="notice"><%= notice %></p>
<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<% if @train.carriages.any? %>
  <p>
    <strong>Coupe Carriages Count:</strong>
    <%= @train.carriages.coupe.count %>
  </p>

  <p>
    <strong>Economy Carriages Count:</strong>
    <%= @train.carriages.economy.count %>
  </p>

  <p>
    <strong>SV Carriages Count:</strong>
    <%= @train.carriages.sv.count %>
  </p>

  <p>
    <strong>Seat Carriages Count:</strong>
    <%= @train.carriages.seat.count %>
  </p>

  <% if @train.carriages.coupe.any? %>
    <p>
      <strong>Coupe Carriages:</strong>
    <p>Top seats count: <%= @train.carriages.coupe.map(&:top_seats).inject(:+) %></p>
    <p>Bottom seats count: <%= @train.carriages.coupe.map(&:bottom_seats).inject(:+) %></p>
    </p>
  <% end %>

  <% if @train.carriages.economy.any? %>
    <p>
      <strong>Economy Carriages:</strong>
    <p>Top seats count: <%= @train.carriages.economy.map(&:top_seats).inject(:+) %></p>
    <p>Bottom seats count: <%= @train.carriages.economy.map(&:bottom_seats).inject(:+) %></p>
    <p>Top seats count: <%= @train.carriages.economy.map(&:side_top_seats).inject(:+) %></p>
    <p>Bottom seats count: <%= @train.carriages.economy.map(&:side_bottom_seats).inject(:+) %></p>
    </p>
  <% end %>

  <% if @train.carriages.sv.any? %>
    <p>
      <strong>SV Carriages:</strong>
    <p>Bottom seats count: <%= @train.carriages.sv.map(&:bottom_seats).inject(:+) %></p>
    </p>
  <% end %>

  <% if @train.carriages.seat.any? %>
    <p>
      <strong>Seat Carriages:</strong>
    <p>Seat seats count: <%= @train.carriages.seat.map(&:seat_seats).inject(:+) %></p>
    </p>
  <% end %>
<% end %>


<p>
  <strong>Current Station:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Not mentioned
  <% end %>
</p>

<p>
  <strong>Route:</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    Not mentioned
  <% end %>
</p>

<p>
  <%= link_to 'Add Carriage', new_train_carriage_path(@train) %>
</p>

<% if @train.carriages.any? %>
  <table>
    <thead>
    <th>Carriage's numbers:</th>
    </thead>
    <tbody>
    <% @train.carriages.ordered(@train).each do |carriage| %>
      <tr>
        <td><%= link_to "Carriage ##{carriage.number}", carriage.becomes(Carriage) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>

