<row>
  <div class="col-md-3">
    <h1>Buy Ticket</h1>
    <%= form_with(model: @ticket, local: true) do |form| %>
      <%= render 'common/errors', resource: @ticket %>

      <%= form.hidden_field :begin_station_id, value: @ticket.begin_station_id %>
      <%= form.hidden_field :end_station_id, value: @ticket.end_station_id %>
      <%= form.hidden_field :train_id, value: @ticket.train_id %>
      <%= form.hidden_field :route_id, value: @ticket.route_id %>

      <div class="form-group">
        <%= form.label :client_name, "Client's name" %>
        <%= form.text_field :client_name, class: 'form-control' %>
      </div>

      <%= form.submit 'Buy Ticket', class: 'btn btn-primary' %>
    <% end %>
  </div>
</row>
