<p><strong>Client's name: </strong><%= @ticket.client_name.titleize %></p>

<p><strong>Train: </strong><%= @ticket.train.number %></p>

<p><strong>Route: </strong><%= @ticket.route.name %></p>

<p>
  <strong><%= @ticket.begin_station.title %> Departure Time: </strong>
  <%= @ticket.departure_time.try(:strftime,"%d.%m.%y - %H:%M") %>
</p>

<p>
  <strong><%= @ticket.end_station.title %> Arrival Time: </strong>
  <%= @ticket.arrival_time.try(:strftime,"%d.%m.%y - %H:%M") %>
</p>
