<div class="row">
  <div class="col-md-5">
    <ul class="list-group">
      <li class="list-group-item">
        <h4><strong>Client's name: </strong><%= @ticket.client_name.titleize %></h4>
        <h4><strong>Train: </strong><%= @ticket.train.number %></h4>
        <h4><strong>Route: </strong><%= @ticket.route.name %></h4>
        <h4>
          <strong><%= @ticket.begin_station.title %> Departure Time: </strong>
          <%= convert_datetime(@ticket.departure_time) %>
        </h4>
        <h4>
          <strong><%= @ticket.end_station.title %> Arrival Time: </strong>
          <%= convert_datetime(@ticket.arrival_time) %>
        </h4>
      </li>
    </ul>
    <p><%= link_to 'Back', tickets_path, class: 'btn btn-warning' %></p>
  </div>
</div>

