<p><strong>Train: </strong><%= @carriage.train.number %></p>

<p><strong>Type: </strong><%= @carriage.type.titleize %></p>

<p><strong>Number: </strong><%= @carriage.number %></p>

<p><strong>Top Seats: </strong><%= @carriage.top_seats %></p>

<p><strong>Bottom Seats: </strong><%= @carriage.bottom_seats %></p>

<% if @carriage.type == 'EconomyCarriage' %>
  <p><strong>Side Top Seats: </strong><%= @carriage.side_top_seats %></p>
  <p><strong>Side Bottom Seats: </strong><%= @carriage.side_bottom_seats %></p>
<% end %>

<%= link_to 'Back', [:admin, @carriage.train] %>
