<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<% if @route.trains.empty? %>
  <p>Route has no trains</p>
<% else %>
  <p>Route has such trains:</p>
  <ul>
    <% @route.trains.each do |train| %>
      <li><%= train.number %></li>
    <% end %>
  </ul>
<% end %>

<% if @route.railway_stations.empty? %>
  <p>Route has no stations</p>
<% else %>
  <p>Route has such stations:</p>
  <table>
    <thead>
      <td><strong>Title</strong></td>
      <td><strong>Serial Number</strong></td>
    </thead>
    <tbody>
      <% @route.railway_stations.ordered.each do |station| %>
        <tr>
          <td><%= station.title %></td>
          <td>
            <%= form_tag update_position_railway_station_path(station), method: :patch do %>
              <%= number_field_tag :serial_number, station.serial_number(@route)  %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag 'Edit' %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
