<%= form_with(model: [:admin, train], local: true) do |form| %>
  <%= render 'common/errors', resource: train %>

  <div class="form-group">
    <%= form.label :number %>
    <%= form.text_field :number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :current_station %>
    <%= form.select :current_station_id, options_from_collection_for_select(RailwayStation.all, :id, :title), class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :sorting %>
    <%= form.select :sorting, options_from_collection_for_select(Train::SORTING, :last, :first), class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :route_id, 'Route' %>
    <%= form.select :route_id, options_from_collection_for_select(Route.all, :id, :name), class: 'form-control' %>
  </div>

  <%= form.submit "#{ train.new_record?  ? 'Create' : 'Update' }", class: 'btn btn-primary' %>
<% end %>
