<%= form_with(model: [:admin, train], local: true) do |form| %>
  <%= render 'common/errors', resource: train %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :current_station %>
    <%= form.collection_select :current_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :sorting %>
    <%= form.collection_select :sorting, Train::SORTING, :last, :first %>
  </div>

  <div class="field">
    <%= form.label :route_id, 'Route' %>
    <%= form.collection_select :route_id, Route.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit "#{ train.new_record?  ? 'Create' : 'Update' }" %>
  </div>
<% end %>
