<div class="col-lg-3 col-md-2">
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <strong>Number: </strong>
      <span class="badge badge-primary badge-pill"><%= @train.number %></span>
    </li>
  </ul>
  <% if @train.carriages.any? %>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>Coupe Carriages Count:</strong>
        <span class="badge badge-primary badge-pill"><%= @train.carriages.coupe.count %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>Economy Carriages Count:</strong>
        <span class="badge badge-primary badge-pill"><%= @train.carriages.economy.count %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>SV Carriages Count:</strong>
        <span class="badge badge-primary badge-pill"><%= @train.carriages.sv.count %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>Seat Carriages Count:</strong>
        <span class="badge badge-primary badge-pill"><%= @train.carriages.seat.count %></span>
      </li>
    </ul>
    <% if @train.carriages.coupe.any? %>
      <ul class="list-group">
        <li class="list-group-item"><strong>Coupe Carriages:</strong></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Top seats count:
          <span class="badge badge-primary badge-pill"><%= @train.carriages.seats_count(:coupe, :top_seats) %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Bottom seats count:
          <span class="badge badge-primary badge-pill"><%= @train.carriages.seats_count(:coupe, :bottom_seats) %></span>
        </li>
      </ul>
    <% end %>

    <% if @train.carriages.economy.any? %>
      <ul class="list-group">
        <li class="list-group-item"><strong>Economy Carriages:</strong></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Top seats count:
          <span class="badge badge-primary badge-pill"><%= @train.carriages.seats_count(:economy, :top_seats) %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Bottom seats count:
          <span class="badge badge-primary badge-pill"><%= @train.carriages.seats_count(:economy, :bottom_seats) %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Side top seats count:
          <span class="badge badge-primary badge-pill"><%= @train.carriages.seats_count(:economy, :side_top_seats) %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Side bottom seats count:
          <span class="badge badge-primary badge-pill"><%= @train.carriages.seats_count(:economy, :side_bottom_seats) %></span>
        </li>
      </ul>
    <% end %>

    <% if @train.carriages.sv.any? %>
      <ul class="list-group">
        <li class="list-group-item"><strong>SV Carriages:</strong></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Bottom seats count:
          <span class="badge badge-primary badge-pill"><%= @train.carriages.seats_count(:sv, :bottom_seats) %></span>
        </li>
      </ul>
    <% end %>

    <% if @train.carriages.seat.any? %>
      <ul class="list-group">
        <li class="list-group-item"><strong>Seat Carriages:</strong></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Seat seats count:
          <span class="badge badge-primary badge-pill"><%= @train.carriages.seats_count(:seat, :seat_seats) %></span>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>

<div class="col-lg-3 col-md-2">
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <strong>Current Station:</strong>
      <span class="badge badge-primary badge-pill">
        <% if @train.current_station.present? %>
          <%= @train.current_station.title %>
        <% else %>
          Not mentioned
        <% end %>
      </span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <strong>Route:</strong>
      <span class="badge badge-primary badge-pill">
        <% if @train.route.present? %>
          <%= @train.route.name %>
        <% else %>
          Not mentioned
        <% end %>
      </span>
    </li>
  </ul>
  <% if @train.carriages.any? %>
    <ul class="list-group">
      <li class="list-group-item"><strong>Carriage's numbers:</strong></li>
      <% @train.carriages.ordered(@train).each do |carriage| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= link_to "Carriage ##{carriage.number}", [:admin, carriage.becomes(Carriage)] %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= link_to 'Add Carriage', new_admin_train_carriage_path(@train), class: 'btn btn-primary btn-sm' %> |
<%= link_to 'Edit', edit_admin_train_path(@train), class: 'btn btn-success btn-sm' %> |
<%= link_to 'Back', admin_trains_path, class: 'btn btn-warning btn-sm' %>
