<!DOCTYPE html>
<html>
<head>
  <title>Tutu - Admin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= bootstrap_flash %>

<ul class="list-inline">
  <% if user_signed_in? %>
    <li class="list-inline-item">
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' %>
    </li>
    <li class="list-inline-item">
      <h5>Account: <%= current_user.email %></h5>
    </li>
  <% else %>
    <li class="list-inline-item">
      <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary' %>
    </li>
  <% end %>
</ul>

<div class="container-fluid">
  <div class="row">
    <%= yield %>
  </div>
</div>

<footer class="col-md-12">
  <%= render 'layouts/footer' %>
</footer>
</body>
</html>
